proj.android/*
proj.ios/cocos2dx-space-game.xcodeproj/project.xcworkspace/xcuserdata/cocos2d-x.xcuserdatad/UserInterfaceState.xcuserstate
proj.ios/cocos2dx-space-game.xcodeproj/xcuserdata/shun.xcuserdatad/xcschemes/cocos2dx-space-game.xcscheme
proj.ios/cocos2dx-space-game.xcodeproj/xcuserdata/shun.xcuserdatad/xcschemes/xcschememanagement.plist
proj.ios/cocos2dx-space-game.xcodeproj/project.xcworkspace/xcuserdata/shun.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
*/.DS_Store
proj.ios/.DS_Store
