<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>explosion_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,0},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1024,0},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1536,0},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{2048,0},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{2560,0},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{3072,0},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{3584,0},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,512},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,512},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1024,512},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1536,512},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{2048,512},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{2560,512},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{3072,512},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{3584,512},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1024},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,1024},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{1024,1024},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{1536,1024},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{2048,1024},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{2560,1024},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{3072,1024},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{3584,1024},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1536},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00025.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,1536},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{1024,1536},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00027.png</key>
			<dict>
				<key>frame</key>
				<string>{{1536,1536},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{2048,1536},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00029.png</key>
			<dict>
				<key>frame</key>
				<string>{{2560,1536},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00030.png</key>
			<dict>
				<key>frame</key>
				<string>{{3072,1536},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00031.png</key>
			<dict>
				<key>frame</key>
				<string>{{3584,1536},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00032.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2048},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00033.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,2048},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00034.png</key>
			<dict>
				<key>frame</key>
				<string>{{1024,2048},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00035.png</key>
			<dict>
				<key>frame</key>
				<string>{{1536,2048},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00036.png</key>
			<dict>
				<key>frame</key>
				<string>{{2048,2048},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00037.png</key>
			<dict>
				<key>frame</key>
				<string>{{2560,2048},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00038.png</key>
			<dict>
				<key>frame</key>
				<string>{{3072,2048},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00039.png</key>
			<dict>
				<key>frame</key>
				<string>{{3584,2048},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00040.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2560},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00041.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,2560},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00042.png</key>
			<dict>
				<key>frame</key>
				<string>{{1024,2560},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00043.png</key>
			<dict>
				<key>frame</key>
				<string>{{1536,2560},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00044.png</key>
			<dict>
				<key>frame</key>
				<string>{{2048,2560},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00045.png</key>
			<dict>
				<key>frame</key>
				<string>{{2560,2560},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00046.png</key>
			<dict>
				<key>frame</key>
				<string>{{3072,2560},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00047.png</key>
			<dict>
				<key>frame</key>
				<string>{{3584,2560},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00048.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3072},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00049.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,3072},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00050.png</key>
			<dict>
				<key>frame</key>
				<string>{{1024,3072},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00051.png</key>
			<dict>
				<key>frame</key>
				<string>{{1536,3072},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00052.png</key>
			<dict>
				<key>frame</key>
				<string>{{2048,3072},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00053.png</key>
			<dict>
				<key>frame</key>
				<string>{{2560,3072},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00054.png</key>
			<dict>
				<key>frame</key>
				<string>{{3072,3072},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00055.png</key>
			<dict>
				<key>frame</key>
				<string>{{3584,3072},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00056.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3584},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00057.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,3584},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00058.png</key>
			<dict>
				<key>frame</key>
				<string>{{1024,3584},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00059.png</key>
			<dict>
				<key>frame</key>
				<string>{{1536,3584},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00060.png</key>
			<dict>
				<key>frame</key>
				<string>{{2048,3584},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00061.png</key>
			<dict>
				<key>frame</key>
				<string>{{2560,3584},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00062.png</key>
			<dict>
				<key>frame</key>
				<string>{{3072,3584},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00063.png</key>
			<dict>
				<key>frame</key>
				<string>{{3584,3584},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00064.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,4096},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00065.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,4096},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00066.png</key>
			<dict>
				<key>frame</key>
				<string>{{1024,4096},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00067.png</key>
			<dict>
				<key>frame</key>
				<string>{{1536,4096},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00068.png</key>
			<dict>
				<key>frame</key>
				<string>{{2048,4096},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00069.png</key>
			<dict>
				<key>frame</key>
				<string>{{2560,4096},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00070.png</key>
			<dict>
				<key>frame</key>
				<string>{{3072,4096},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00071.png</key>
			<dict>
				<key>frame</key>
				<string>{{3584,4096},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00072.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,4608},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00073.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,4608},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00074.png</key>
			<dict>
				<key>frame</key>
				<string>{{1024,4608},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00075.png</key>
			<dict>
				<key>frame</key>
				<string>{{1536,4608},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00076.png</key>
			<dict>
				<key>frame</key>
				<string>{{2048,4608},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00077.png</key>
			<dict>
				<key>frame</key>
				<string>{{2560,4608},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00078.png</key>
			<dict>
				<key>frame</key>
				<string>{{3072,4608},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00079.png</key>
			<dict>
				<key>frame</key>
				<string>{{3584,4608},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00080.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,5120},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00081.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,5120},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00082.png</key>
			<dict>
				<key>frame</key>
				<string>{{1024,5120},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>explosion_00083.png</key>
			<dict>
				<key>frame</key>
				<string>{{1536,5120},{512,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,512}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>explosion.png</string>
			<key>size</key>
			<string>{4096,8192}</string>
			<key>textureFileName</key>
			<string>explosion.png</string>
		</dict>
	</dict>
</plist>
