<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>shot_blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,44},{64,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,12}}</string>
			<key>sourceSize</key>
			<string>{64,12}</string>
		</dict>
		<key>shot_cyan.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,30},{64,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,12}}</string>
			<key>sourceSize</key>
			<string>{64,12}</string>
		</dict>
		<key>shot_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,16},{64,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,12}}</string>
			<key>sourceSize</key>
			<string>{64,12}</string>
		</dict>
		<key>shot_yellow.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,2},{64,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,12}}</string>
			<key>sourceSize</key>
			<string>{64,12}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>temp_bullets.png</string>
		<key>size</key>
		<string>{66,78}</string>
		<key>textureFileName</key>
		<string>temp_bullets.png</string>
	</dict>
</dict>
</plist>
