<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>shot_blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,44},{64,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,12}}</string>
			<key>sourceSize</key>
			<string>{64,12}</string>
		</dict>
		<key>shot_dragon.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,30},{64,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,12}}</string>
			<key>sourceSize</key>
			<string>{64,12}</string>
		</dict>
		<key>shot_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,16},{64,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,12}}</string>
			<key>sourceSize</key>
			<string>{64,12}</string>
		</dict>
		<key>shot_yellow.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,2},{64,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,12}}</string>
			<key>sourceSize</key>
			<string>{64,12}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>temp_bullets.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:47af87f90fc99e06dd424d69cf6c4c40:688e21a10174b075932888626336a423:30305f05bb30a3d27572847084270bfc$</string>
		<key>textureFileName</key>
		<string>temp_bullets.png</string>
	</dict>
</dict>
</plist>
